html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    --hue: 70;
    --hue-active: 250;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
