@import "open-props/style";

@import "./fonts.css";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --hue: 70;
  --hue-active: 250;

  --bg-main: oklch(90% 0.005 var(--hue));
  --bg-support: oklch(70% 0.01 var(--hue));

  --fg-main: oklch(45% 0.05 var(--hue));
  --fg-support: oklch(55% 0.01 var(--hue));
  --fg-minor: oklch(75% 0.01 var(--hue-active));
  --fg-accent: oklch(65% 0.1 var(--hue-active));

  --content-max-width: var(--size-content-3);
  --font-family: sans-serif;

  font-family: var(--font-family);
  line-height: var(--font-lineheight-3);
  font-size: 100%;
  background-color: var(--bg-main);
  color: var(--fg-main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: var(--font-size-4);
  color: var(--fg-support);
}

h2 {
  font-size: var(--font-size-3);
  padding-bottom: var(--size-1);
  color: var(--fg-minor);
}

a {
  color: var(--fg-main);
  font-style: italic;
  text-decoration-thickness: var(--border-size-2);
  text-decoration-color: var(--fg-accent);
  text-underline-offset: var(--border-size-2);

  &:visited {
    color: var(--fg-main);
  }

  &:hover {
    color: var(--fg-accent);
  }
}

section {
  max-inline-size: var(--content-max-width);
  margin: 0 auto var(--size-6);
  padding: var(--size-4) var(--size-3);
}
