@import "open-props/style";

@import "./fonts.css";

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--font-mono);
  line-height: var(--font-lineheight-2);
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-3);
}

a {
  color: var(--blue-6);
  font-weight: var(--font-weight-7);
  text-decoration-thickness: 0.1em;

  &:visited {
    color: var(--blue-6);
  }
}
