@import "open-props/style";

@import "./fonts.css";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --hue: 70;
  --hue-active: 250;

  --color-bg: oklch(90% 0.005 var(--hue));
  --color-bg-support: oklch(70% 0.01 var(--hue));

  --color-fg: oklch(35% 0.05 var(--hue));
  --color-fg-accent: oklch(65% 0.25 var(--hue-active));

  --content-max-width: var(--size-content-3);
  --font-family: sans-serif;

  font-family: var(--font-family);
  line-height: var(--font-lineheight-3);
  font-size: 100%;
  background-color: var(--color-bg);
  color: var(--color-fg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: var(--font-size-4);
}

h2 {
  font-size: var(--font-size-3);
  margin-top: var(--size-7);
  padding-bottom: var(--size-1);
  position: relative;

  &::before {
    content: "## ";
    position: absolute;
    left: -3ch;
    color: var(--color-fg-accent);
  }
}

a {
  color: var(--color-fg-support);
  font-weight: var(--font-weight-6);
  text-decoration-thickness: var(--border-size-2);
  text-decoration-color: var(--color-fg-accent);
  text-underline-offset: var(--border-size-2);

  &:visited {
    color: var(--color-fg);
  }

  &:hover {
    color: var(--color-fg-accent);
  }
}

section {
  max-inline-size: var(--content-max-width);
  margin: 0 auto var(--size-6);
  padding: var(--size-4) var(--size-3);
}
