:root {
  /* Font Families */
  --font-family-monospace: "BerkeleyMono", monospace;

  --font-family-heading: var(--font-family-monospace);
  --font-family-text: var(--font-family-monospace);

  /* Font Sizes */
  --font-size-1: 0.75rem; /* 12px */
  --font-size-2: 0.875rem; /* 14px */
  --font-size-3: 1rem; /* 16px */
  --font-size-4: 1.125rem; /* 18px */
  --font-size-5: 1.25rem; /* 20px */
  --font-size-6: 1.5rem; /* 24px */
  --font-size-7: 1.875rem; /* 30px */
  --font-size-8: 2.25rem; /* 36px */
  --font-size-9: 3rem; /* 48px */
  --font-size-10: 4rem; /* 64px */
  --font-size-11: 6rem; /* 96px */
  --font-size-12: 8rem; /* 128px */

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  /* Line Heights */
  --line-height-0: 1;
  --line-height-1: 1.25;
  --line-height-2: 1.5;
  --line-height-3: 1.75;
  --line-height-4: 2;

  /* Letter Spacings */
  --letter-spacing-neg-3: -0.25rem; /* -4px */
  --letter-spacing-neg-2: -0.125rem; /* -2px */
  --letter-spacing-neg-1: -0.0625rem; /* -1px */
  --letter-spacing-0: 0;
  --letter-spacing-1: 0.0625rem; /* 1px */
  --letter-spacing-2: 0.125rem; /* 2px */
  --letter-spacing-3: 0.25rem; /* 4px */
  --letter-spacing-4: 0.5rem; /* 8px */
  --letter-spacing-5: 1rem; /* 16px */
  --letter-spacing-6: 2rem; /* 32px */
  --letter-spacing-7: 4rem; /* 64px */
  --letter-spacing-8: 8rem; /* 128px */
  --letter-spacing-9: 16rem; /* 256px */

  /* Space */
  --spacing-0: 0; /* 0px */
  --spacing-1: 0.25em; /* 4px */
  --spacing-2: 0.5em; /* 8px */
  --spacing-3: 0.75em; /* 12px */
  --spacing-4: 1em; /* 16px */
  --spacing-5: 1.25em; /* 20px */
  --spacing-6: 1.5em; /* 24px */
  --spacing-7: 2em; /* 32px */
  --spacing-8: 2.5em; /* 40px */
  --spacing-9: 3em; /* 48px */
  --spacing-10: 4em; /* 64px */
  --spacing-11: 5em; /* 80px */
  --spacing-12: 6em; /* 96px */
  --spacing-13: 8em; /* 128px */
  --spacing-14: 10em; /* 160px */
  --spacing-15: 12em; /* 192px */
  --spacing-16: 14em; /* 224px */
  --spacing-17: 16em; /* 256px */
  --spacing-18: 20em; /* 320px */
  --spacing-19: 24em; /* 384px */
  --spacing-20: 28em; /* 448px */

  /* Transition Time */
  --transition-time-fast: 0.2s;
  --transition-time-medium: 0.5s;
  --transition-time-slow: 1s;

  /* Border Width */
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 4px;
  --border-width-4: 8px;
  --border-width-5: 16px;
}
