---
import GitHubActivity from "../components/GitHubActivity.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="p-8">
        <h1 class="text-8xl m-0 mb-20 font-mono">
            <span class="text-slate-600">nbr</span><span class="text-orange-400"
                >.haus</span
            >
        </h1>

        <GitHubActivity />
    </div>
</Layout>
