---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="nbr.haus/office" colorMode="light">
  <section>
    <h1>Welcome</h1>

    <p>Greetings, I am Nikolaus Brunner, although most colleagues refer to me as Nik.</p>

    <h1>Professional Background</h1>

    <h2>Present Role</h2>

    <p>
      At present, I am employed as a Software Engineer at <a href="https://bike.center"
        >DealerCenter Digital</a
      >, a prominent name in the digital landscape.
    </p>

    <h2>Past Experience</h2>

    <p>
      Prior to my current role, I served at <a href="https://www.diva-e.com/de/">diva-e</a>, where I
      gained substantial technical expertise.
    </p>

    <h1>Expertise and Insights</h1>

    <p>
      My current technology stack involves advanced tools such as <a href="https://reactjs.org"
        >React</a
      >, <a href="https://www.typescriptlang.org/">TypeScript</a>, <a href="https://sass-lang.com"
        >SCSS</a
      >, <a href="https://storybook.js.org/">StorybookJS</a> along with <a
        href="https://nodejs.org/en/">NodeJS</a
      >. Although my primary area of focus is Frontend, I also handle Backend related tasks.
    </p>

    <h2>Extracurricular Initiatives</h2>

    <p>
      During my spare time, I explore additional languages such as <a href="https://go.dev/">Go</a> and
      frameworks like
      <a href="https://svelte.dev/">Svelte</a>. I delve into diverse architectures like <a
        href="https://emotion.sh/docs/introduction">Styled Components with EmotionCSS</a
      >, and best practices for a range of side projects, including my <a
        href="https://github.com/terra-theme">Terra Theme</a
      >, <a href="https://github.com/nikbrunner/obsidian-deep-work-theme"
        >the Obsidian Deep Work Theme</a
      >, with over 40k active users, and last but not the least <a href="https://nbr.land"
        >my personal website</a
      >.
    </p>

    <h2>Technology Preferences</h2>

    <p>
      In order to enhance my familiarity with Linux, I have installed <a
        href="https://endeavouros.com/">EndeavourOS</a
      >, and previously <a href="https://pop.system76.com/">Pop!_OS</a>, on my personal computer. I
      am a fan of <a href="https://github.com/nikbrunner/vin">Vim/Neovim</a> and relish working with
      my <a href="https://www.zsa.io/moonlander/">Moonlander Split Keyboard.</a>
    </p>

    <h1>About Me</h1>

    <p>Born in 1984, I am situated in Landshut, a charming city near Munich, Germany.</p>

    <h2>Off the Clock</h2>

    <p>
      Beyond my professional pursuits, I have made some <a
        href="https://open.spotify.com/artist/603Tahq6jn44VFj23DldSW">Music</a
      >
      in the past. I hold a deep reverence for nature that often translates into hiking, running, and
      meditation. During these sessions, I frequently indulge in my love for <a
        href="https://www.instagram.com/nikolaus.brunner/">Photography</a
      >

      <h1>Connect With Me</h1>

      <p>
        That's merely scratching the surface. To know more about me, peruse the footer-links where
        you'll find a recent picture and more. If you wish to contact me, feel free to send me a
        direct message on <a href="https://twitter.com/NikolausBrunner">Twitter</a> or drop me an <a
          href="mailto:nikolaus.brunner@protonmail.ch">Email</a
        >.
      </p>
    </p>
  </section>

  <style>
    section {
      max-width: 35vw;
      margin: 0 auto;
    }
  </style>
</BaseLayout>
