---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="nbr.haus/personal">
    <section>
        <h2>Me</h2>
        <p>Hi, my name is Nikolaus Brunner.</p>
        <p>But most people call me Nik.</p>

        <p>Born in 1984, I am based in Landshut, a charming city near Munich, Germany.</p>

        <p>
            Beyond my professional pursuits, I have made some <a
                href="https://open.spotify.com/artist/603Tahq6jn44VFj23DldSW?si=c-dyJWhwS7GE58f8h7vM4A">Music</a
            >
            in the past.
        </p>

        <p>
            I hold a deep love for nature that often translates into hiking, running, and meditation. During these sessions,
            I practice my love for <a href="https://www.instagram.com/nikolaus.brunner/">Photography</a>.
        </p>
    </section>
</BaseLayout>
