---
import Dot from "./Dot.astro";
---

<script>
    const body = document.querySelector("body");
    const range = document.querySelector(".hue-slider");

    function setInitialSliderValue() {
        if (body) {
            const currentHue = getComputedStyle(body).getPropertyValue("--hue");
            range?.setAttribute("value", currentHue);
        }
    }

    function restoreHues() {
        const hue = localStorage.getItem("hue");
        const hueActive = localStorage.getItem("hueActive");

        if (hue && hueActive) {
            updateCssVars({
                "--hue": hue,
                "--hue-active": hueActive
            });
            range?.setAttribute("value", hue);
        }
    }

    function updateCssVars(values: { [key: string]: string }) {
        Object.entries(values).forEach(([key, value]) => {
            body?.style.setProperty(key, value);
        });
    }

    function getNextHues(sliderValue: number) {
        const degreeOffset = 50;
        const hue = sliderValue;
        const hueActive = hue + degreeOffset > 360 ? hue + degreeOffset - 360 : hue + degreeOffset;

        return { hue, hueActive };
    }

    if (body && range) {
        setInitialSliderValue();
        restoreHues();

        range.addEventListener("input", e => {
            if (e?.target instanceof HTMLInputElement) {
                const { hue, hueActive } = getNextHues(Number(e?.target?.value));

                localStorage.setItem("hue", String(hue));
                localStorage.setItem("hueActive", String(hueActive));

                updateCssVars({
                    "--hue": String(hue),
                    "--hue-active": String(hueActive)
                });
            }
        });
    }
</script>

<footer
    class:list={[
        "Footer",
        "bg-huez-50",
        "border-2",
        "border-t-huez-700",
        "bottom-0",
        "fixed",
        "left-0",
        "px-2",
        "py-1",
        "right-0"
    ]}
>
    <div class="my-4 flex justify-center gap-3">
        <Dot bg="bg-huez-50" />
        <Dot bg="bg-huez-100" />
        <Dot bg="bg-huez-200" />
        <Dot bg="bg-huez-300" />
        <Dot bg="bg-huez-400" />
        <Dot bg="bg-huez-500" />
        <Dot bg="bg-huez-600" />
        <Dot bg="bg-huez-700" />
        <Dot bg="bg-huez-800" />
        <Dot bg="bg-huez-900" />
        <Dot bg="bg-huez-950" />
    </div>

    <div class:list={["content", "py-10"]}>
        <input class:list={["hue-slider"]} type="range" min="0" max="360" step="1" value="1" />
    </div>

    <style>
        .Footer .content {
            max-width: 40vw;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        .Footer .hue-slider {
            --thumb-size: 16px;

            -webkit-appearance: none;
            width: 100%;
            height: 1px;
            background-color: gray;
            outline: none;
            opacity: 0.7;
            transition: opacity 0.2s ease-in-out;
        }

        .Footer .hue-slider:hover {
            opacity: 1;
        }

        .Footer .hue-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--thumb-size);
            height: var(--thumb-size);
            background: white;
            border-radius: 100px;
            cursor: pointer;
        }

        .Footer .hue-slider::-moz-range-thumb {
            width: var(--thumb-size);
            height: var(--thumb-size);
            background: var(--color-fg-accent);
            border-radius: var(--radius-blob-3);
            cursor: pointer;
        }
    </style>
</footer>
