---
const currentPath = Astro.url.pathname;
---

<div class="flex justify-between items-center p-8">
    <a href="/" class="no-underline">
        <h1 class="m-0">
            <span class="text-slate-400">nbr</span><span class="text-orange-400">.haus</span>
        </h1>
    </a>

    <nav>
        <a
            href="/office"
            class="no-underline"
            class:list={[currentPath === "/office" ? "text-orange-400" : "text-slate-400", "hover:text-orange-400"]}
        >
            Office
        </a>
    </nav>
</div>
