---
const { pathname } = Astro.url;

const pathes = [
  {
    path: "/",
    label: "Work"
  },
  {
    path: "/personal",
    label: "Personal"
  }
];
---

<nav class="Navigation">
  {
    pathes.map(p => {
      return (
        <Fragment>
          <a class:list={[{ match: pathname === p.path }]} href={p.path}>
            {p.label}
          </a>
        </Fragment>
      );
    })
  }
</nav>

<style lang="scss">
  .Navigation {
    display: flex;
    gap: var(--size-2);

    a {
      text-decoration: none;
    }

    a.match {
      color: var(--color-fg-accent);
    }
  }
</style>
