---
import { Image } from "@astrojs/image/components";
import houseImage from "../../assets/images/house.webp";
---

<div class="House">
  <Image class="House__image" src={houseImage} aspectRatio={16 / 10} alt="descriptive text" />
  <!-- TODO Overlay with color-bg -->
</div>

<style lang="scss">
  .House {
    position: relative;
    overflow: hidden;
    height: 100vh;
    font-family: var(--font-family-serif);
    color: var(--color-fg-light);

    &__image {
      position: absolute;
      pointer-events: none;
      height: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      object-fit: cover;
      filter: grayscale(100%);
    }
  }
</style>
